.form{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
}
.main {
    font-family: Roboto;
    font-weight: bold;
}
.input{
    width: 100%;
}
.growth{
    gap: 20px;
}
.doughnut{
    padding: 10px;
}
.growth-p{
    padding: 10px;
}

@media screen and (max-width:600px) {
    .input{
        width: 300px;
    }
}
@media screen and (max-width:600px) {
    .growth{
        gap: 5px;
    }
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-weight: 500;
  }
  
.label{
    display: flex;
}

.type{
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 5px;
}

.btn{
    height: 35px;
    width: 80px;
}